TENANT_ID=acme
TENANT_DOMAIN=acme.huayuesc.com

MEDUSA_VERSION=v1.0.0
PAYLOAD_VERSION=v1.0.0
STOREFRONT_VERSION=v1.0.0

DATA_HOST=10.10.0.2
STORAGE_HOST=10.10.0.3

POSTGRES_USER=postgres
POSTGRES_PASSWORD=__REPLACE_BY_SOPS__
POSTGRES_DB_MEDUSA=medusa
POSTGRES_DB_PAYLOAD=payload
REDIS_PASSWORD=__REPLACE_BY_SOPS__

MEDUSA_JWT_SECRET=__REPLACE_BY_SOPS__
MEDUSA_COOKIE_SECRET=__REPLACE_BY_SOPS__
PAYLOAD_SECRET=__REPLACE_BY_SOPS__

S3_ACCESS_KEY=__REPLACE_BY_SOPS__
S3_SECRET_KEY=__REPLACE_BY_SOPS__
